.grid_box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.grid_box div {
  margin: 10px;
}

.xs0 {
  width: 0%;
  overflow: hidden;
  margin: 0;
}

.xs2 {
  width: calc((100% / 6) - 20px);
}

.xs3 {
  width: calc(25% - 20px);
}

.xs4 {
  width: calc((100% / 3) - 20px);
}

.xs6 {
  width: calc(50% - 20px);
}

.xs8 {
  width: calc((200%/3) - 20px);
}

.xs9 {
  width: calc(75% - 20px);
}

.xs12 {
  width: calc(100% - 20px);
}

@media (min-width: 575px) {
  .sm1 {
    width: calc((100%/12) - 20px);
  }
}

@media (min-width: 575px) {
  .sm2 {
    width: calc((100%/6) - 20px);
  }
}

@media (min-width: 575px) {
  .sm3 {
    width: calc(25% - 20px);
  }
}

@media (min-width: 575px) {
  .sm4 {
    width: calc((100% / 3) - 20px);
  }
}

@media (min-width: 575px) {
  .sm5 {
    width: calc((100% * 5/ 12) - 20px);
  }
}

@media (min-width: 575px) {
  .sm6 {
    width: calc(50% - 20px);
  }
}

@media (min-width: 575px) {
  .sm7 {
    width: calc((100% * 7/ 12) - 20px);
  }
}

@media (min-width: 575px) {
  .sm8 {
    width: calc((200%/3) - 20px);
  }
}

@media (min-width: 575px) {
  .sm9 {
    width: calc(75% - 20px);
  }
}

@media (min-width: 575px) {
  .sm10 {
    width: calc((100% * 7/ 12) - 20px);
  }
}

@media (min-width: 575px) {
  .sm11 {
    width: calc((100% * 11/ 12) - 20px);
  }
}

@media (min-width: 768px) {
  .md1 {
    width: calc((100%/12) - 20px);
  }
}

@media (min-width: 768px) {
  .md2 {
    width: calc((100%/6) - 20px);
  }
}

@media (min-width: 768px) {
  .md3 {
    width: calc(25% - 20px);
  }
}

@media (min-width: 768px) {
  .md4 {
    width: calc((100% / 3) - 20px);
  }
}

@media (min-width: 768px) {
  .md5 {
    width: calc((100% * 5 / 12) - 20px);
  }
}

@media (min-width: 768px) {
  .md6 {
    width: calc(50% - 20px);
  }
}

@media (min-width: 768px) {
  .md7 {
    width: calc((100% * 7/ 12) - 20px);
  }
}

@media (min-width: 768px) {
  .md8 {
    width: calc((200%/3) - 20px);
  }
}

@media (min-width: 768px) {
  .md9 {
    width: calc(75% - 20px);
  }
}

@media (min-width: 768px) {
  .md10 {
    width: calc((100% * 10/ 12) - 20px);
  }
}

@media (min-width: 768px) {
  .md11 {
    width: calc((100% * 11/ 12) - 20px);
  }
}

@media (min-width: 992px) {
  .lg1 {
    width: calc((100%/12) - 20px);
  }
}

@media (min-width: 992px) {
  .lg2 {
    width: calc((100%/6) - 20px);
  }
}

@media (min-width: 992px) {
  .lg3 {
    width: calc(25% - 20px);
  }
}

@media (min-width: 992px) {
  .lg4 {
    width: calc((100% / 3) - 20px);
  }
}

@media (min-width: 992px) {
  .lg5 {
    width: calc((100% * 5 / 3) - 20px);
  }
}

@media (min-width: 992px) {
  .lg6 {
    width: calc(50% - 20px);
  }
}

@media (min-width: 992px) {
  .lg7 {
    width: calc((100% * 7/ 12) - 20px);
  }
}

@media (min-width: 992px) {
  .lg8 {
    width: calc((200%/3) - 20px);
  }
}

@media (min-width: 992px) {
  .lg9 {
    width: calc(75% - 20px);
  }
}

@media (min-width: 992px) {
  .lg10 {
    width: calc((100% * 10/ 12) - 20px);
  }
}

@media (min-width: 992px) {
  .lg11 {
    width: calc((100% * 11/ 12) - 20px);
  }
}
