:root {
    --main: #0073e6;
    --light: #e6f2ff;
    --dark: #000d1a;
    --background-light: #fff;
    --background-dark: #001a33;
    --box-shadow: 2.5px 5px 10px -5px black;
    --border: 1px solid rgba(#888, 0.5);
}

@import "./grid.scss";
@import "./component.scss";

* {
    margin: 0;
    font-family: '__Inter_aaf875', '__Inter_Fallback_aaf875';
}

div {
    box-sizing: border-box;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textAlignCenter {
    text-align: center;
}

.light {
    background-color: var(--light);
    color: var(--dark);
}

.background_light {
    background-color: var(--background-light);
}

.dark {
    background-color: var(--dark);
    color: var(--light);
}

.background_dark {
    background-color: var(--background-dark);
}

.scrollNone::-webkit-scrollbar {
    display: none;
}

.boxShadow {
    box-shadow: var(--box-shadow);
}

.hoverColor:hover {
    background-color: rgba(#888, 0.1);
}

.login {
    width: 100%;
    height: 80%;
    max-width: 375px;
    margin: 5% auto;
    padding: 0% 5%;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2,
    h3 {
        width: max-content;
        margin: 20px auto;
    }

    .warn {
        width: max-content;
        font-size: 0.7rem;
        color: red;
        margin: 0 auto;
    }

    .link {
        width: max-content;
        margin: 0 auto;
        font-size: 0.8rem;
        cursor: pointer;
    }

    .link:hover {
        color: var(--main);
    }
}

.admin {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow-x: hidden;

    .header {
        display: flex;
        position: relative;

        svg {
            box-sizing: border-box;
            width: 40px;
            height: 40px;
            padding: 5px;
            cursor: pointer;
        }

        .icons {
            display: flex;
            width: max-content;
            margin: auto 0 auto auto;
        }
    }

    .main {
        display: flex;
        width: 100%;

        .menu {
            width: 40px;
            transition: all 0.5s;

            .item {
                display: flex;
                margin: 10px 0px;
                overflow: hidden;
                cursor: pointer;

                svg {
                    box-sizing: border-box;
                    width: 40px;
                    height: 40px;
                    padding: 5px;
                    cursor: pointer;
                }

                p {
                    display: none;
                }
            }

            .child_item {
                height: 30px;
                margin: 5px 5px;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }

        .menuOpen {
            width: 200px;

            p {
                display: block !important;
                line-height: 40px;
            }

            .child_item {
                opacity: 0.75;

                p {
                    line-height: 30px;

                }
            }
        }

        .archive {
            width: calc(100% - 40px);
            transition: all 0.5s;
            height: calc(100vh - 40px);
            padding: 0 5px;

            .profile {
                position: relative;
                padding: 5px;
                border-radius: 5px;

                .basic_infor {
                    width: 100%;
                    margin: 0 0 0 auto;

                    @media (min-width:768px) {
                        max-width: calc(100% - 250px);
                    }
                }
            }

            .single {
                .imageBox {
                    position: relative;

                    @media (min-width:768px) {
                        position: sticky;
                    }
                }

                .detailBox {
                    min-height: calc(100vh - 60px);
                    margin: 0 10px;
                    padding: 0 10px 0 0;

                    .innerDetail {

                        * {
                            background-color: inherit !important;
                            color: inherit !important;
                            line-height: 1.5 !important;
                            font-size: 16px !important;
                            font-style: inherit !important;
                            font-weight: normal;
                            margin: 5px 0;
                        }

                        h1,
                        h2,
                        h3,
                        h4,
                        h5 {
                            font-weight: bold !important;
                        }
                    }
                }

                img {
                    width: 100%;
                }


                h4 {
                    margin: 25px 0 5px;
                }



            }
        }

        .archiveOpen {
            @media (min-width:768px) {
                width: calc(100% - 200px);
            }
        }

    }
}

.landing {
    svg {
        cursor: pointer;
    }

    .apps {
        .app {
            transition: all 0.25s;
            cursor: pointer;
            border-radius: 50%;
        }

        .app:hover {
            transform: scale(1.1);

        }
    }
}